node_modules/
dist/
/.env
*.env
/.env.local
.DS_Store
.idea/
.vscode/
coverage/
client/node_modules/
server/node_modules/
/.turbo# dependencies
node_modules/
# env & secrets
.env
*.env
!.env.example
# build output
dist/
build/
# prisma
server/prisma/*.db
# logs & OS
*.log
.DS_Store
